body {
  margin: 0;
  padding: 0;
  background-color: #3454D1; /* Set the background color of the body */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

#chart-container {
  background-color: white;
  padding: 20px; /* Adjust as needed */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}
